.jumbotron{
  text-align: center;
  background-color:#DC7633;

}
body{
  background-color: #C0392B;
}
.well{
  background-color: #EB984E;
  text-align: justify;
  font-family:'Fredoka One', cursive;
  height: auto;
  text
}
.heading{
  font-family:'Fredoka One', cursive;
  font-size: 80px;
}
.well2{
  background-color:#F4D03F;
  height: 110px;
  margin:5px;
  padding: 10px;
}
.panel{
  resize: both;
}
.form-control{
  border-radius: 30%;
  border:1px;
}
button{
  border-radius:30%;
}
.output{
  display: grid;
  float:right;
  padding:50%;
  width: 40px;
  border:5px solid;
  text-align: center;
  margin:5px;
  padding: 10px;
  background-color: white;

  color:#F4D03F
}
.buttons{
  float: right;
  text-align: justify;
  padding: 10px;
  column-fill:#F4D03F;
}
