.jumbotron{
  text-align: center;
  background-color:#DC7633;

}
body{
  background-color: #C0392B;
}
.well{
  background-color: #EB984E;
  text-align: justify;
  font-family:'Fredoka One', cursive;
  height: auto;
  text
}
.heading{
  font-family:'Fredoka One', cursive;
  font-size: 80px;
}
.panel{
  resize: both;
}
.form-control{
  border-radius: 30%;
  border:1px;
}
button{
  border-radius:30%;
}
.dice{
  display: grid;
  float: right;
  width: 40px;
  border:1px solid;
  text-align: center;
  margin:5px;
  padding: 10px;
}
.buttons{
  float: right;
  text-align: justify;
  padding: 10px;
}
